pipelines_data_factory/br_pipe_master_ohter_data_adls/br_pipe_master_ohter_data_adls/br_pipe_master_ohter_data_adls.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"datalakeicecream renan.moraes":{"type":"string"},"lh1":{"type":"string"}},"variables":{},"resources":[{"name":"br_pipe_master_ohter_data_adls","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"FailBigMac","type":"Fail","dependsOn":[{"activity":"pipe_adls_big_mac","dependencyConditions":["Failed"]}],"typeProperties":{"message":"Error in pipeline BigMac","errorCode":{"value":"@activity('pipe_adls_big_mac').output.pipelineReturnValue","type":"Expression"}}},{"name":"FailEuroTax","type":"Fail","dependsOn":[{"activity":"pipe_adls_euro_tax","dependencyConditions":["Failed"]}],"typeProperties":{"message":"Error in pipeline countries","errorCode":{"value":"@activity('pipe_adls_euro_tax').output.pipelineReturnValue","type":"Expression"}}},{"name":"pipe_adls_big_mac","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"68032ab4-acbe-4163-b5b8-80cee34af78f","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"pipe_adls_euro_tax","type":"ExecutePipeline","dependsOn":[{"activity":"pipe_adls_big_mac","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"191d3fdd-dbeb-47c9-8951-c1ab65a499e9","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"pipe_adls_imf","type":"ExecutePipeline","dependsOn":[{"activity":"pipe_adls_euro_tax","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"2f2b9ecd-ffab-48c9-9b65-c9f31bdf528f","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"FailIMFEconomy","type":"Fail","dependsOn":[{"activity":"pipe_adls_imf","dependencyConditions":["Failed"]}],"typeProperties":{"message":"Error in pipeline products","errorCode":{"value":"@activity('pipe_adls_imf').output.pipelineReturnValue","type":"Expression"}}},{"name":"pipe_adls_road_fuel","type":"ExecutePipeline","dependsOn":[{"activity":"pipe_adls_imf","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"62c91224-28cb-4711-bb72-0cd8f5dac00a","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"FailRoadFuel","type":"Fail","dependsOn":[{"activity":"pipe_adls_road_fuel","dependencyConditions":["Failed"]}],"typeProperties":{"message":"Error in pipeline productypes","errorCode":{"value":"@activity('pipe_adls_road_fuel').output.pipelineReturnValue","type":"Expression"}}},{"name":"Email_Fail_BigMac","type":"Office365Outlook","dependsOn":[{"activity":"FailBigMac","dependencyConditions":["Succeeded"]}],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"To":"renan.moraes@bluertec.com.br","Subject":"Fail to Pipeline BigMac","Body":"<p>@{activity('FailBigMac').output}</p>","Sensitivity":"","Importance":"Normal"}}}},{"name":"Email_Fail_EuroTax","type":"Office365Outlook","dependsOn":[{"activity":"FailEuroTax","dependencyConditions":["Succeeded"]}],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"To":"renan.moraes@bluertec.com.br","Subject":"Fail to Pipeline EuroTax","Body":"<p>@{activity('FailEuroTax').output}</p>","Sensitivity":"","Importance":"Normal"}}}},{"name":"Email_IMFEconomy","type":"Office365Outlook","dependsOn":[{"activity":"FailIMFEconomy","dependencyConditions":["Succeeded"]}],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"To":"renan.moraes@bluertec.com.br","Subject":"Fail to Pipeline IMFEconomy","Body":"<p>@{activity('FailIMFEconomy').output}</p>","Sensitivity":"","Importance":"Normal"}}}},{"name":"Email_Fail_RoadFuel","type":"Office365Outlook","dependsOn":[{"activity":"FailRoadFuel","dependencyConditions":["Succeeded"]}],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"To":"renan.moraes@bluertec.com.br","Subject":"Fail to Pipeline RoadFuel","Body":"<p>@{activity('FailRoadFuel').output}</p>","Sensitivity":"","Importance":"Normal"}}}}],"lastModifiedByObjectId":"b0504bde-5fa2-4ac2-82ed-3e2c6076135c","lastPublishTime":"2025-05-28T21:09:36Z","logicAppsConnectionPayload":{"id":"/subscriptions/8fe664b4-b31d-433e-9959-f86f9a4fbad2/resourceGroups/connections-42bace73-a356-473e-8a2b-7f3cdd601b8f/providers/Microsoft.Web/connections/1_a99f84e4-bfcb-4d6e-9536-3beac4ab2832_b0504bde-5fa2-4ac2-82ed-3e2c6076135c","properties":{"api":{"name":"office365","id":"/subscriptions/8fe664b4-b31d-433e-9959-f86f9a4fbad2/providers/Microsoft.Web/locations/brazilsouth/managedApis/office365"}}}},"dependsOn":[]},{"name":"br_copy_adls_big_mac_source_data","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"CopyBigMacData","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@pipeline().parameters.file_name","type":"Expression"},"folderPath":{"value":"@pipeline().parameters.directory_csv","type":"Expression"},"fileSystem":"ice-cream-sales"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[],"externalReferences":{"connection":"[parameters('datalakeicecream renan.moraes')]"}}},"sink":{"type":"ParquetSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings","enableVertiParquet":true},"datasetSettings":{"annotations":[],"linkedService":{"name":"lh1","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"42bace73-a356-473e-8a2b-7f3cdd601b8f","artifactId":"[parameters('lh1')]","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@pipeline().parameters.name_sink_file","type":"Expression"},"folderPath":{"value":"@pipeline().parameters.directory_sink_parquet","type":"Expression"}},"compressionCodec":"snappy"},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}],"parameters":{"directory_csv":{"type":"string","defaultValue":"big_mac_data"},"file_name":{"type":"string","defaultValue":"big-mac-source-data-v2.csv"},"directory_sink_parquet":{"type":"string","defaultValue":"bronze/bigmacdata"},"name_sink_file":{"type":"string","defaultValue":"big_mac_hist_data.parquet"}},"lastModifiedByObjectId":"b0504bde-5fa2-4ac2-82ed-3e2c6076135c","lastPublishTime":"2025-05-28T23:28:57Z"},"dependsOn":[]},{"name":"br_copy_adls_euro_tax_source_data","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"CopyEuroTaxData","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@pipeline().parameters.file_name","type":"Expression"},"folderPath":{"value":"@pipeline().parameters.directory_csv","type":"Expression"},"fileSystem":"ice-cream-sales"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('datalakeicecream renan.moraes')]"}}},"sink":{"type":"ParquetSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings","enableVertiParquet":true},"datasetSettings":{"annotations":[],"linkedService":{"name":"lh1","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"42bace73-a356-473e-8a2b-7f3cdd601b8f","artifactId":"[parameters('lh1')]","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@pipeline().parameters.name_sink_file","type":"Expression"},"folderPath":{"value":"@pipeline().parameters.directory_sink_parquet","type":"Expression"}},"compressionCodec":"snappy"},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}],"parameters":{"directory_csv":{"type":"string","defaultValue":"euro_tax_currency"},"file_name":{"type":"string","defaultValue":"eurofxref-hist.csv"},"directory_sink_parquet":{"type":"string","defaultValue":"bronze/eurotaxdata"},"name_sink_file":{"type":"string","defaultValue":"euro_tax_data.parquet"}},"lastModifiedByObjectId":"b0504bde-5fa2-4ac2-82ed-3e2c6076135c","lastPublishTime":"2025-05-28T20:32:35Z"},"dependsOn":[]},{"name":"br_copy_adls_imf_economy_source_data","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"CopyBigMacData","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"ExcelSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"datasetSettings":{"annotations":[],"type":"Excel","typeProperties":{"sheetName":"NGDP_RPCH","location":{"type":"AzureBlobFSLocation","fileName":{"value":"@pipeline().parameters.file_name","type":"Expression"},"folderPath":{"value":"@pipeline().parameters.directory_csv","type":"Expression"},"fileSystem":"ice-cream-sales"},"firstRowAsHeader":true},"schema":[],"externalReferences":{"connection":"[parameters('datalakeicecream renan.moraes')]"}}},"sink":{"type":"ParquetSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings","enableVertiParquet":true},"datasetSettings":{"annotations":[],"linkedService":{"name":"lh1","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"42bace73-a356-473e-8a2b-7f3cdd601b8f","artifactId":"[parameters('lh1')]","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@pipeline().parameters.name_sink_file","type":"Expression"},"folderPath":{"value":"@pipeline().parameters.directory_sink_parquet","type":"Expression"}},"compressionCodec":"snappy"},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}],"parameters":{"directory_csv":{"type":"string","defaultValue":"imf_economy"},"file_name":{"type":"string","defaultValue":"imf-dm-export-20250527.xls"},"directory_sink_parquet":{"type":"string","defaultValue":"bronze/imf_dm_export"},"name_sink_file":{"type":"string","defaultValue":"imf_dm_export_data.parquet"}},"lastModifiedByObjectId":"b0504bde-5fa2-4ac2-82ed-3e2c6076135c","lastPublishTime":"2025-05-28T20:22:34Z"},"dependsOn":[]},{"name":"br_copy_adls_road_fuel_source_data","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"CopyDieselData","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"ExcelSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"datasetSettings":{"annotations":[],"type":"Excel","typeProperties":{"sheetName":"Data","location":{"type":"AzureBlobFSLocation","fileName":{"value":"@pipeline().parameters.file_name","type":"Expression"},"folderPath":{"value":"@pipeline().parameters.directory_csv","type":"Expression"},"fileSystem":"ice-cream-sales"},"firstRowAsHeader":true},"schema":[],"externalReferences":{"connection":"[parameters('datalakeicecream renan.moraes')]"}}},"sink":{"type":"ParquetSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings","enableVertiParquet":true},"datasetSettings":{"annotations":[],"linkedService":{"name":"lh1","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"42bace73-a356-473e-8a2b-7f3cdd601b8f","artifactId":"[parameters('lh1')]","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@pipeline().parameters.name_sink_file","type":"Expression"},"folderPath":{"value":"@pipeline().parameters.directory_sink_parquet","type":"Expression"}},"compressionCodec":"snappy"},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}],"parameters":{"directory_csv":{"type":"string","defaultValue":"road_fuel_prices_data"},"file_name":{"type":"string","defaultValue":"road_fuel_prices_190525.xlsx"},"directory_sink_parquet":{"type":"string","defaultValue":"bronze/road_fuel_prices_data"},"name_sink_file":{"type":"string","defaultValue":"road_fuel_prices_data.parquet"}},"lastModifiedByObjectId":"b0504bde-5fa2-4ac2-82ed-3e2c6076135c","lastPublishTime":"2025-05-28T20:31:19Z"},"dependsOn":[]}]}